.student-deletion-form {
    padding: 1rem 0;
    text-align: center;
}

.student-deletion-form .form-group {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.btn--danger-confirm {
    background-color: var(--btn-primary-bg);
    color: var(--btn-secondary-bg);
}

.btn--danger-confirm:hover {
    background-color: var(--btn-primary-hover-bg);
}

.student-deletion-form .form-actions {
    justify-content: center;
    border-top: none;
}