.app-header {
    display: flex;
    color: blueviolet;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
}

.header__title {
    font-size: 2rem;
    font-weight: bold;
}
.favicon{
    height: 40px;
    width: 40px;
}