.app-header {
    display: flex;
    color: white;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
}

.header__title {
    font-size: xx-large;
    font-weight: bold;
}
.favicon{
    height: 40px;
    width: 40px;
}