.grid-table {
    display: grid;
    width: 100%;
    background-color: #ecfeff; /* Lightcyan */
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.grid-row {
    display: grid;
    /* Adjusting column ratios:*/
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #dddddd;
    align-items: center;
}

.grid-row div {
    padding: 12px 16px;
    text-align: left;
    font-size: 0.95rem;
    color: #1e293b;
    font-family: sans-serif;
}

.header {
    background-color: #f1f5f9;
    font-weight: bold;
    color: #475569;
    text-transform: uppercase;
    font-size: 0.8rem;
}