.grid-table {
    display: grid;
    width: 100%;
    background-color: var(--bg-table);
    border: 1px solid var(--border-color);
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.grid-row {
    display: grid;
    /* Adjusting column ratios:*/
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.grid-row div {
    padding: 12px 16px;
    text-align: left;
    font-size: 0.95rem;
    color: var(--text-main);
    font-family: sans-serif;
}

.header {
    background-color: var(--bg-sidebar);
    font-weight: bold;
    color: var(--text-muted);
    text-transform: uppercase;
    font-size: 0.8rem;
}