#root{
    max-width: 1280px;
    margin: 0 auto;
}

.container{
    padding: 40px 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 60px auto;
    overflow: auto;
}