#root{
    margin: 0;
}

.topbar{
    background-color: darkcyan;
}
/*.container{
    padding: 40px 30px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 60px;
    overflow: auto;
}*/

.container{
    display: flex;
    min-height: calc(100vh - 70px); /* Adjust height to fill the screen below the topbar */
}

/* Sidebar Rules */

.sidebar {
    background-color: rgba(250, 250, 250, 0);
    color: rgb(16, 11, 11);
    padding: 20px;
    width: 250px;
    min-height: 100vh;
    /* Make sidebar full height */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 15px;
    display: flex;
    /* Use Flexbox for alignment */
    align-items: center;
    /* Vertically align items */
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #48D1CC;
}

.active li {
    background-color: #20B2AA;
}
/* ---------------------------------------------------------- */

.main-content {
    flex-grow: 1;
    padding: 20px;
}
